.card{
  background: var(--fundo-card);
  padding:20px;
  border-radius:16px;
  box-shadow:0 6px 15px rgba(0,0,0,0.1);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-6px);
}

.titulo{
  color:var(--roxo);
  margin-bottom:10px;
}